body {
  background-color: #f8f9fa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #212529;
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: #054a63;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a, .topnav input[type="text"] {
  color: white;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  border: none;
  outline: none;
  background: none;
}

#searchBar {
  flex-grow: 1;
  margin-left: 20px; /* space from the logo */
  padding: 8px;
  border-radius: 4px;
}

.topnav a:hover, .topnav a:focus {
  color: #FFFFFF;
}

.sidenav {
  background-color: #076585;
  color: white;
  border-right: 1px solid #ddd;
  position: fixed;
  width: 200px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.sidenav button, .sidenav input[type="checkbox"] {
  background-color: #FFFFFF;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.sidenav button:hover {
  background-color: #FFFFFF;
}

.sidenav hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.container {
  margin-left: 200px;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container .listing {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  flex-basis: calc(33.333% - 20px);
}

.container .listing:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.listimg {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.price {
  color: #333;
  font-weight: 700;
  margin-top: 10px;
}

.itemName {
  font-weight: bold;
}

.itemDesc {
  margin-top: 10px;
}

@media (max-width: 992px) {
  .container .listing {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    padding: 0;
    background-color: #054a63;
  }

  .container {
    margin-left: 0;
    padding: 10px;
  }

  .container .listing {
    flex-basis: 100%;
  }
}
