body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}


body {
    background-image: url('UYard.png'); /* Background image */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-color: aliceblue; 
}


body::after {
    content: '';
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: aliceblue; 
    opacity: 0.7; 
    z-index: -1;
}

.topnav {
    background-color: rgba(8, 83, 148, 255);
    padding: 10px;
    text-decoration: none;
    font-size: 24pt;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
   /* To make the navigation bar fixed: */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
    
    
}

.topnav #mainpage {
    font-weight: bold;
}

.topnav .left-items {
    display: flex; 
    float: left;
    
}

.topnav .right-items {
    display: flex; /* Use flexbox for right items */
    float: right;
    padding-right: 20px; /* Add padding on the right side */
}

.topnav a {
    color: rgb(255, 196, 0);
    margin: 5px;
    padding: 2px;
    text-decoration: none;
}

.topnav .right-items a {
    margin-right: 20px; /* Adjust the space as needed */
    color: white;
}

.topnav i {
    color: white;
}




#searchbar {
    width: 50%;
    padding: 10px;
    margin-right: 20px;
}

.sidenav {
    float: left;
    width: 15%;
    position: fixed;
    overflow-x: hidden;
    border: 1px solid black;
    background-color: cornflowerblue;
    height: 100%;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 10px; 
    padding-right: 10px; 
    box-sizing: border-box; 
    top: 70px;
    bottom: 0;
}

.sidenav input[type="checkbox"] {
    font-size: 15pt; 
    padding: 5px;
    margin: 5px ;
}

.sidenav button {
    font-size: 15pt; 
    padding: 5px;
    margin: 5px ;
    width: calc(100% - 20px);
    overflow: hidden;
}

.sidenav hr {
    background-color: rgba(254, 217, 103, 255); 
    height: 1px;
}

.sidenav i {
    color: white;
    font-size: 18pt;
}

.sidenav #createicon {
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-left: 15%; 
    padding-top: 100px;
}

.listing {
    width: 300px; 
    height: 300px; 
    border: 1px solid #ddd; 
    background-color: #ffffff; 
    margin: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    border-radius: 4px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}


.listing .name {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Styles for the category, delivery, location, and status text */
.listing .category, 
.listing .delivery, 
.listing .location, 
.listing .soldstatus {
    align-self: flex-start; 
    font-size: 14px;
    margin: 0.1px 0; 
}


.listing .details-container {
    align-self: stretch; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    width: 100%; 
}

.listing .soldstatus {
    margin-bottom: 0; 
}


.listimg {
    width: 100%; 
    height: 50%; 
    border-bottom: 1px solid #ddd; 
    object-fit: cover; 
}



@media only screen and (max-width: 760px) {
    .listing {
        width: 50%; 
        height: 50%; 
        margin: 10px; 
    }

    .listimg {
        height: auto; 
    }
}

@media only screen and (max-width: 480px) {
    .listing {
        width: 100%; 
        margin: 10px 0; 
    }

    .listimg {
        height: 200px; 
    }
}

